select {
    margin-left: 16px;
    margin-right: 8px;
    width: 260px;
    color: #2f3a4a;
    outline: none;
    margin-bottom: 16px;
    padding: 12px 19px 12px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    option {
      color: #2f3a4a;
    }
  }