.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: absolute;
  width: 47.875em;
  height: 32.875em;
  box-sizing: border-box;
  background: #0b0e11;
  border: 1px solid #fafafa;
  border-radius: 12px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0em;
  gap: 11.5625em;
  position: relative;
  left: 10.75em;
  top: 2em;
}

.modalTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 30px;
  text-align: center;
  color: #fafafa;
  cursor: pointer;
}

.auth {
  color: #606060;
}

.closeBtn {
  position: absolute;
  left: 45.125em;
  top: 1.5em;
  cursor: pointer;
  z-index: 9;
}

.modalInputsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0em;
  gap: 1em;
  position: absolute;
  left: 2.8125em;
  top: 6.0625em;
}

.modalInputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0em;
  gap: 1.25em;
}

.modalEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em;
  gap: 0.5em;
}

.modalPasswordWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em;
  gap: 0.5em;
}

.modalInputs span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #fafafa;
  margin-top: 0.75em;
}

.modalInputs input {
  box-sizing: border-box;
  max-width: 20.3125em;
  height: 3.5em;
  border: 0.0625em solid #fafafa;
  border-radius: 0.5em;
  background: none;
  width: 325px;
  padding: 1.1875em 1em 1.125em 1em;
  margin-top: 0.125em;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: #fafafa;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  right: 33.5em;
}

.checkboxInput:checked {
  background: #f614f9;
  border: none !important;
}

.checkboxSvg {
  position: absolute;
  top: 0.3em;
  left: 0.26em;
}

.checkboxSvg:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  background: #0b0e11;
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
  margin: 0.1875em 0.1875em 0.1875em 0.25em;
  padding: initial;
  width: 1em;
  height: 1em;
  border: 0.0625em solid #fafafa !important;
  border-radius: 0.1875em;
}

.checkmark {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  color: #fafafa;
  margin-left: 0.25em;
}

.enterBtn {
  @media (max-width: 775px) {
    padding: 1.05em 7.925em;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.05em 15.325em;
  gap: 0.25em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(96.91deg, #4705da 0%, #b10eec 51.04%, #f614f9 100%);
  border-radius: 0.5em;
  cursor: pointer;
  border: 0;
  margin-top: 216px;
  margin-left: 45px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  color: #fafafa;
}

.enterBtn:hover {
  background: linear-gradient(
    96.91deg,
    #4705da 0%,
    #b10eec 51.04%,
    #f614f9 100%
  );
}

.spanSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em;
  gap: 1.8125em;
  height: 1.875em;
  margin-top: 1em;
  margin-left: 2.8125em;
}

.lineSpan {
  width: 18.125em;
  height: 0em;
  opacity: 0.5;
  border-top: 1px solid #fafafa;
  transform: rotate(180deg);
}

.secondarySpan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  color: #fafafa;
}

.socialsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em;
  gap: 0.5em;
  height: 5.625em;
  margin-top: 1.5625em;
  margin-left: 2.8125em;
}

.socialsWrapper span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #fafafa;
}

.socialsBtnWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0em;
  gap: 1.25em;
  height: 3.625em;
}

.googleBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.1875em 0em;
  gap: 0.5em;
  width: 13.125em;
  height: 3.625em;
  background: #2b3139;
  border-radius: 0.5em;
  cursor: pointer;
  border: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 100%;
  text-align: center;
  color: #fafafa;
}

.telegramBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.1875em 0em;
  gap: 0.5em;
  width: 13.125em;
  height: 3.625em;
  background: #27a6e5;
  border-radius: 0.5em;
  cursor: pointer;
  border: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #fafafa;
}

.vkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.1875em 0em;
  gap: 0.5em;
  width: 13.125em;
  height: 3.625em;
  background: #0077ff;
  border-radius: 8px;
  cursor: pointer;
  border: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #fafafa;
}

@media (max-width: 775px) {
  .modalContent {
    width: 25.875em;
    height: 47.375em;
  }

  .closeBtn {
    left: 23.9em;
    top: 0.7em;
  }

  .modalHeader {
    justify-content: space-between;
    padding: 0em;
    gap: 1em;
    position: relative;
    left: 2.8125em;
    top: 2em;
    width: 20.3125em;
  }

  .modalInputsWrapper {
    gap: 1em;
    height: 39em;
  }
  .modalInputs {
    flex-direction: column;
    padding: 0em;
    gap: 1em;
  }
  .checkboxContainer {
    position: absolute;
    width: 23.375em;
    left: 0.625em;
    bottom: 23.75em;
  }
  .enterBtn {
    position: relative;
    top: 111px;
    width: 327px;
  }
  .spanSection {
    position: absolute;
    justify-content: center;
    height: 1.875em;
    width: 23.375em;
    bottom: 18.125em;
    right: 1.125em;
  }
  .socialsWrapper {
    position: absolute;
    bottom: 0.75em;
    right: 3.6875em;
    height: 15.375em;
  }
  .socialsBtnWrapper {
    flex-direction: column;
    height: 13.375em;
  }
  .googleBtn {
    width: 20.5em;
    position: relative;
    left: 1.1875em;
  }

  .telegramBtn {
    width: 20.5em;
    position: relative;
    left: 1.1875em;
  }

  .vkBtn {
    width: 20.5em;
    position: relative;
    left: 1.1875em;
  }
  .socialsWrapper span {
    position: relative;
    left: 1.4375em;
  }
  .lineSpan {
    width: 7.375em;
  }

  @media (max-width: 413px) {
    .modalContent {
      width: 320px;
      height: 47.375em;
    }
  
    .closeBtn {
      left: 17.9em;
      top: 0.7em;
    }
  
    .modalHeader {
      justify-content: space-between;
      flex-direction: column;
      padding: 0em;
      gap: 0.5em;
      position: relative;
      left: 2.8125em;
      top: 1em;
      width: 20.3125em;
    }
  
    .modalInputsWrapper {
      gap: 1em;
      height: 39em;
    }
    .modalInputs {
      flex-direction: column;
      padding: 0em;
      gap: 1em;
      input {
        width: 235px;
      }
    }
    .checkboxContainer {
      position: absolute;
      width: 23.375em;
      left: 0.625em;
      bottom: 23.75em;
    }
    .enterBtn {
      position: relative;
      top: 80px;
      padding-right: 20px;
      padding-left: 20px;
      width: 235px;
    }
    .spanSection {
      position: absolute;
      justify-content: center;
      height: 1.875em;
      width: 235px;
      bottom: 17.125em;
      right: 2.4em;
    }
    .socialsWrapper {
      position: absolute;
      bottom: 0.75em;
      right: 3.6em;
      height: 15.375em;
    }
    .socialsBtnWrapper {
      flex-direction: column;
      height: 13.375em;
    }
    .googleBtn {
      width: 235px;
    }
  
    .telegramBtn {
      width: 235px;
    }
  
    .vkBtn {
      width: 235px;
    }
    .socialsWrapper span {
      position: relative;
      left: 1.4375em;
    }
    .lineSpan {
      width: 7.375em;
    }
  }
}



