.main {
  .container {
    display: flex;

    .row {
      width: 100%;
      border: 0.0625em solid #e8e8e8;
      border-radius: 0.25em;
      background: #ffffff;
      padding: 1em 1em 26.5em 0em;
      button {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        background: #7840b0;
        border: none;
        border-radius: 0.25em;
        margin-top: 20px;
        margin-left: 15px;
      }
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #212121;
        margin-left: 16px;
      }

      .itemContainer {
        border: 0.0625em solid #e8e8e8;
        border-radius: 0.25em;
        background: #ffffff;
        margin: 1em 0em 0em 1em;
        padding-top: 1em;

        .item:nth-of-type(1) {
          border-bottom: 0.0625em solid #e8e8e8;
          padding-bottom: 0.875em;

          span {
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875em;
            color: #25262d;
          }

          span:hover {
            padding-bottom: 14px;
            border-bottom: 2px solid #7840b0;
          }

          span:nth-of-type(1) {
            margin-right: 32px;
            margin-left: 20px;
          }

          span:nth-of-type(2) {
            margin-right: 32px;
          }


        }

        .item:nth-of-type(2) {
          margin-top: 1em;
          border-bottom: 0.0625em solid #e8e8e8;

          input:nth-of-type(1) {
            margin-right: 8px;
            outline: none;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 12px 271px 12px 12px;
            background: #ffffff;
            border: 0.0625em solid #e8e8e8;
            border-radius: 0.125em;
            color: #212121;
          }

          select {
            margin-left: 1em;
            background: #e8e8e8;
            margin-right: 0.5em;
            color: #2f3a4a;
            outline: none;
            margin-bottom: 1em;
            padding: 12px 19px 12px 12px;
            border: 0.0625em solid #e8e8e8;
            border-radius: 0.25em;

            option {
              color: #2f3a4a;
            }
          }

          select:nth-of-type(3) {
            background: #e8e8e8;
            margin-right: 16px;
            color: #2f3a4a;
            outline: none;
            margin-bottom: 16px;
            padding: 12px 19px 12px 12px;
            border: 0.0625em solid #e8e8e8;
            border-radius: 0.25em;

            option {
              color: #2f3a4a;
            }
          }

          .box {
            display: flex;
            align-items: center;
            .lastCheckBox {
              appearance: auto;
              margin-left: 20px;
              margin-right: 8px;
              border: 0.0625em solid #e3e7ee;
              border-radius: 0.1875em;
              height: 1em;
              width: 1em;
            }

            span {
              font-style: normal;
              font-weight: 500;
              font-size: 0.75em;
              color: #25262d;
            }
            span:nth-of-type(1) {
              margin-right: 70px;
            }
            span:nth-of-type(2) {
              margin-right: 94px;
            }
            span:nth-of-type(3) {
              margin-right: 53px;
            }
            span:nth-of-type(4) {
              margin-right: 70px;
            }
            span:nth-of-type(5) {
              margin-right: 108px;
            }
          }
        }
      }
    }
  }
}
