.main {
  background: #ded8d8;
  .wrapper {
    max-width: 1336px;
    margin: 0 auto;
    .container {
      padding: 150px 0px 60px 0px;
      display: flex;
      .row {
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        background: #ffffff;

        padding: 16px 16px 424px 0px;
        .column:nth-of-type(1) {
          display: flex;
          align-items: center;

          h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            color: #212121;
            margin: 0px 0px 0px 16px;
          }
          button {
            margin-left: 619px;
            img {
              margin-right: 9px;
              width: 12px;
              height: 12px;
            }
            span {
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
            }
            display: flex;
            align-items: center;
            padding: 10px 16px;
            background: #7840b0;
            border: none;
            border-radius: 4px;
          }
        }
        .column:nth-of-type(2) {
            margin-top: 16px;
          input {
            padding: 12px 277px 12px 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #9ca6b4;
            margin-left: 16px;
          }
        }
      }
    }
  }
}
