.btnPnk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #f614f9;
  border: 1px solid #f614f9;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  background: #2B3139;
}

.btnPnk:hover {
  box-shadow: 0px 0px 6px #f614f9;
}
