.btnPnk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #f614f9;
  border: 0.0625em solid #f614f9;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  background: transparent;
  transition: box-shadow 0.5s ease;
}

.btnPnk:hover {
  box-shadow: 0em 0em 0.375em #f614f9;
}
