.main {
  background: #141627;
  height: 100vh;
  .alert {
    position: absolute;
    top: 10px;
    left: 700px;

    div {
      margin-top: 0 !important;
    }
  }

  .container {
    display: flex;

    .header {
      margin: 16px 0 0 300px;
    }

    .burger {
      position: absolute;
      left: 267px;
      top: 27px;
      span {
        display: block;
        background: #fafafa;
        width: 24px;
        height: 3.38px;
        margin-bottom: 5.92px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
      &::before {
        content: "";
        display: block;
        background: #fafafa;
        width: 24px;
        height: 3.38px;
        margin-bottom: 5.92px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        content: "";
        display: block;
        background: #fafafa;
        width: 24px;
        height: 3.38px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }

    .burgerActive {
      position: absolute;
      left: 267px;
      top: 27px;
      span {
        display: block;
        background: #fafafa;
        width: 24px;
        height: 3.38px;
        cursor: pointer;
        margin-top: -3px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
      }

      &::before {
        content: "";
        display: block;
        background: #fafafa;
        transition: all 0.3s ease-in-out;
        width: 24px;
        height: 3.38px;
        margin-top: 8px;
        transform: rotate(45deg);
        cursor: pointer;
      }
    }
    .columnRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 120px;
      margin-left: 310px;
      .column {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          img {
            width: 24px;
            height: 24px;
          }
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
          }
          display: flex;
          align-items: center;
          padding: 10px 16px;
          background: #755cdd;
          border: none;
          border-radius: 13px;
        }
      }
      .userName {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
        .profileImage {
          width: 48px;
          height: 48px;
          border-radius: 50%;

          img {
            width: 100% !important;
            height: 100% !important;
            border-radius: 50%;
          }
        }

        span {
          margin-right: 8px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
        img:nth-of-type(1) {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        .item {
          top: 40px;
          right: 40px;
          position: absolute;
          background: #1c1f37;
          padding: 6px 16px;
          border-radius: 15px;
          .box {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
              width: 15px;
              height: 15px;
            }
            span {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
            }
          }
          .box:nth-of-type(1) {
            margin-bottom: 5px;
          }
        }
      }
    }

    .dataWrapper {
      display: flex;
      justify-content: space-between;
      margin-left: 310px;

      .personalDataWrapper {
        background-image: url(../../../../public//img/newLk/personal_data.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        min-width: 565px;
        padding: 27px 100px 120px;
        text-align: center;
        justify-content: center;
        margin-right: 110px;

        .inputWrapper {
          width: 235px;
          height: 222px;
          background-color: #755cdd;
          border-radius: 50%;

          input {
            position: absolute;
            width: 250px;
            top: 300px;
            left: 455px;
            height: 200px;
            border-radius: 50%;
            opacity: 0;
          }

          img {
            margin-top: 60px;
          }

          p {
            color: #ffffff;
            margin: auto;
          }
        }

        div {
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
        }

        p {
          color: #64678c;
          margin-top: 23px;
          margin-bottom: 10px;
          margin-left: -210px;
        }

        input {
          align-items: center;
          padding: 12px 16px;
          width: 360px;
          height: 48px;
          background: #ffffff;
          border: 2px solid #d9d9d9;
          border-radius: 8px;
          color: rgb(133, 133, 133);
        }
      }

      .passwordChangeBox {
        width: 789px;
        background-image: url(../../../../public//img/newLk/password_change.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        padding: 35px 65px;

        p {
          color: #64678c;
          margin-top: 23px;
          margin-bottom: 10px;
        }

        input {
          align-items: center;
          padding: 12px 16px;
          width: 360px;
          height: 48px;
          background: #ffffff;
          border: 2px solid #d9d9d9;
          border-radius: 8px;
          color: rgb(133, 133, 133);
        }

        div {
          margin-top: 20px;
        }
      }

      .accountActions {
        margin-top: 50px;
        width: 789px;
        height: 300px;
        background-image: url(../../../../public//img/newLk/password_change.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        padding: 75px 65px;

        p {
          margin-top: 35px;
          color: #64678c;
        }

        .accountActionButtons {
          margin: 40px 0px 0px 0px;
          .item:nth-of-type(1) {
            display: flex;
            align-items: center;
            button:nth-of-type(2) {
              background: #dd5c5c;
              border: none;
              border-radius: 13px;
              display: flex;
              align-items: center;
              padding: 11px 16px;
              img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
              }
              span {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
              }
            }
            button:nth-of-type(1) {
              margin-right: 22px;
              background: #755cdd;
              border: none;
              border-radius: 13px;
              display: flex;
              align-items: center;
              padding: 11px 18px;
              img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
              }
              span {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
              }
            }
          }
          .item:nth-of-type(2) {
            margin-top: 30px;
            display: flex;
            align-items: center;
            img {
              width: 28px;
              height: 32px;
              margin-right: 8px;
            }
            span {
              color: #64678c;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
      }
    }

    .sideBarOpened {
      display: flex;
      align-items: flex-start;
      transition: margin 0.5s;
      margin-left: -247px;
    }
    .sideBarClosed {
      display: flex;
      align-items: flex-start;
      transition: margin 0.5s;
      margin-left: 0;
    }

    .buttons {
      width: 250px;
      .item {
        display: flex;
        align-items: center;
        button {
          background: #755cdd;
          border: none;
          border-radius: 13px;
          display: flex;
          align-items: center;
          padding: 11px 18px;
          img {
            margin-right: 10px;
            width: 24px;
            height: 24px;
          }
          span {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
          }
        }
      }
    }
  }
}
