.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    position: absolute;
    width: 47.875em;
    height: 38.625em;
    box-sizing: border-box;
    background: #0B0E11;
    border: 1px solid #FAFAFA;
    border-radius: 12px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0em;
    gap: 11.5625em;
    margin: 26px 279px 554px 290px;
    width: 11.875em;
}

.modalTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 30px;
    text-align: center;
    color: #FAFAFA;
}

.closeBtn {
    position: absolute;
    left: 45.125em;
    top: 1.5em;
    cursor: pointer;
}

.orderLogoWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 43px;
        width: 670px;
        height: 96px;
        position: relative;
        bottom: 32.1875em;
        left: 2.8em;
        h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 1.5em;
            line-height: 1.8125em;
            color: #F614F9;
        }
        img {
            cursor: pointer;
        }
}

.active {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 46px;
    width: 21.25em;
    height: 6em;
    border-radius: 12px;
    background: #0B0E11;
    border-left: 1px solid #4705DA;
    border-top: 1px solid #4705DA;
    border-right: 1px solid #F614F9;
    border-bottom: 1px solid #F614F9;
}

.modalInputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0em;
    gap: 1em;
    position: absolute;
    left: 2.8125em;
    top: 12.2em;
}

.modalInputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0em;
    gap: 1.25em;
    width: 41.875em;
    height: 5.6875em;
    margin-top: 1.875em;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 325px;
        height: 91px;
    }
    span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 100%;
        text-align: center;
        color: #FAFAFA;
        margin-bottom: 28px;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 120%;
        color: #5d5d5d;
    }
}

.modalDescSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.5em;
    width: 41.875em;
    height: 8.25em;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0em;
        gap: 1em;
        width: 41.875em;
        height: 6.75em;
        border-radius: 8px;
        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 1em;
            line-height: 100%;
            text-align: center;
            color: #FAFAFA;
            margin-top: 0.75em;
        }
        textarea {
            width: 41.875em;
            min-height: 6.75em;
            border: 1px solid #FAFAFA;
            border-radius: 8px;
            background: none;
            padding: 1.1875em 1.875em 1.125em 1em;
            margin-top: 0.125em;
            resize: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 120%;
            color: #FAFAFA;
        }
    }
}

.enterBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0.25em;
    gap: 0.25em;
    width: 670px;
    height: 64px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(96.91deg, #4705DA 0%, #B10EEC 51.04%, #F614F9 100%);
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    position: relative;
    bottom: 197px;
    margin-left: 45px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 110%;
    text-align: center;
    color: #FAFAFA;
}

.enterBtn:hover {
    background: linear-gradient(
      96.91deg,
      #4705da 0%,
      #b10eec 51.04%,
      #f614f9 100%
    );
}


@media (max-width: 775px) {
    .modalContent {
        width: 25.875em;
        height: 841px;
    }

    .closeBtn {
        left: 23.7em;
        top: 0.8em;
    }

    .modalHeader {
        padding: 0em;
        gap: 1em;
        position: relative;
        top: 1.6em;
        right: 11.0em;
        width: 20.3125em;
    }

    .orderLogoWrapper {
        flex-direction: column;
        width: 670px;
        position: relative;
        bottom: 31.5em;
        left: -8em;
        div {
            border: 1px solid #828485;
            padding-top: 33px;
            padding-bottom: 34px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-right: 16px;
            padding-left: 46px;
            width: 21.25em;
            height: 6em;
            border-radius: 12px;
            background: #0B0E11;
        }
        h2 {
            color: #828485;
            display: contents !important;
        }
        img {
           filter: grayscale(1);
        }
}

.active {
    border-left: 1px solid #4705DA !important;
    border-top: 1px solid #4705DA !important;
    border-right: 1px solid #F614F9 !important;
    border-bottom: 1px solid #F614F9 !important;
    h2 {
        color: #F614F9;
    }
    img {
        filter: grayscale(0);
    }
}

    .modalInputsWrapper {
        top: 30.2em;
        gap: 1em;
        height: 39em;
    }
    .modalInputs {
        width: 23.4375em;
        margin-right: 18.75em;
        position: relative;
        right: 1.5625em;
        div {
            width: 11.0625em;
            height: 5.5em;
        }
    }

    .modalDescWrapper {
        width: 24.6875em;
        height: 6.75em;
        position: relative;
        right: 1.875em;
        bottom: 1.875em;
        textarea {
            max-width: 23.4375em;
        }
    }

    .enterBtn {
        position: relative;
        top: 52px;
        right: 24px;
        width: 374px;
    }
}