.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  background: linear-gradient(
    96.91deg,
    #f614f9 0%,
    #b10eec 51.04%,
    #4705da 100%
  );
  border-radius: 0.75em;
  border: 0;
  padding: 0.75em 4.781em;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s ease;
}

.btn:hover {
  background-position: 0 0;
}
