.partnery {
  .container {
    padding: 10.25em 0em 13.043em 0em;
    h2 {
      margin-bottom: 3.649375em;
    }
    .column {
      img:nth-of-type(2) {
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .column:nth-of-type(1) {
      margin-bottom: 3.375em;
      img:nth-of-type(1) {
        width: 700px;
        height: 84.21px;
      }
      img:nth-of-type(2) {
        width: 494px;
        height: 133px;
      }
    }
    .column:nth-of-type(2) {
      img:nth-of-type(1) {
        width: 269px;
        height: 75px;
      }
      img:nth-of-type(2) {
        width: 345px;
        height: 155.32px;
      }
      img:nth-of-type(3) {
        width: 109px;
        height: 102px;
      }
    }
  }
}
