.works {
  .container {
    @media (max-width: 568px) {
      padding-top: 60px;
    }
    padding-top: 7.5em;

    h2 {
      @media (max-width: 568px) {
        margin-bottom: 28px;
      }
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 1.75em;
      margin-bottom: 1.7143em;
    }
    .row {
      @media (max-width: 1240px) {
        grid-template-columns: 1fr;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.25em;
      .column:nth-of-type(1) {
        img:nth-of-type(1) {
          @media (max-width: 1240px) {
            width: 710px;
          }
          @media (max-width: 768px) {
            width: 500px;
            height: 300px;
          }
          @media (max-width: 568px) {
            width: 375px;
            height: 211px;
            margin-bottom: 12px;
          }
          width: 100%;
          height: 25em;
          margin-bottom: 1.25em;
        }
        h4 {
          @media (max-width: 568px) {
            font-size: 14px;
          }
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          margin-bottom: 0.5em;
        }
        img:nth-of-type(2) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
          }
          width: 4em;
          height: 4em;
        }
      }
      .column:nth-of-type(2) {
        img:nth-of-type(1) {
          @media (max-width: 1240px) {
            width: 710px;
          }
          @media (max-width: 768px) {
            width: 500px;
            height: 300px;
          }
          @media (max-width: 568px) {
            width: 375px;
            height: 211px;
            margin-bottom: 12px;
          }
          width: 100%;
          height: 25em;
          margin-bottom: 1.25em;
        }
        h4 {
          @media (max-width: 568px) {
            font-size: 14px;
          }
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          margin-bottom: 0.5em;
        }
        img:nth-of-type(2) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
            margin-right: 4px;
          }
          width: 4em;
          height: 4em;
          margin-right: 0.75em;
        }
        img:nth-of-type(3) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
            margin-right: 4px;
          }
          width: 4em;
          height: 4em;
          margin-right: 0.75em;
        }
        img:nth-of-type(4) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
          }
          width: 4em;
          height: 4em;
        }
      }
      .column:nth-of-type(3) {
        img:nth-of-type(1) {
          @media (max-width: 1240px) {
            width: 710px;
          }
          @media (max-width: 768px) {
            width: 500px;
            height: 300px;
          }
          @media (max-width: 568px) {
            width: 375px;
            height: 211px;
            margin-bottom: 12px;
          }
          width: 100%;
          height: 25em;
          margin-bottom: 1.25em;
        }
        h4 {
          @media (max-width: 568px) {
            font-size: 14px;
          }
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          margin-bottom: 0.5em;
        }
        img:nth-of-type(2) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
          }
          width: 4em;
          height: 4em;
        }
      }
      .column:nth-of-type(4) {
        img:nth-of-type(1) {
          @media (max-width: 1240px) {
            width: 710px;
          }
          @media (max-width: 768px) {
            width: 500px;
            height: 300px;
          }
          @media (max-width: 568px) {
            width: 375px;
            height: 211px;
            margin-bottom: 12px;
          }
          width: 100%;
          height: 25em;
          margin-bottom: 1.25em;
        }
        h4 {
          @media (max-width: 568px) {
            font-size: 14px;
          }
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          margin-bottom: 0.5em;
        }
        img:nth-of-type(2) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
            margin-right: 4px;
          }
          width: 4em;
          height: 4em;
          margin-right: 0.75em;
        }
        img:nth-of-type(3) {
          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
          }
          width: 4em;
          height: 4em;
        }
      }
    }
  }
}
