.main {
    background: #ded8d8;
    .wrapper {
      .container {
        display: flex;
        .row {
          width: 100%;
          border: 1px solid #e8e8e8;
          border-radius: 4px;
          background: #ffffff;
          padding: 16px 16px 424px 0px;
          h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            color: #212121;
            margin: 0px 0px 0px 16px;
          }
        }
      }
    }
  }
  